page-video {
  .center {
    text-align: center;
  }

  video {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-top: 31px;
  }

  .toolbar-title {
    color: white;
    font-size: 1.3rem;
    padding-left: 0px;
  }

  .exercise-head {
    color: white !important;
    margin-top: 3px;
    margin-bottom: 31px;
    text-transform: capitalize;
  }

  ion-card.card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
