page-final-test {
  .center {
    text-align: center;
  }

  .toolbar-title {
    color: white;
    font-size: 1.3rem;
    padding-left: 0px;
  }

  .exercise-head {
    color: white !important;
    margin-top: 3px;
    margin-bottom: 31px;
    text-transform: capitalize;
  }
}
