page-superlevel {
  .header::after {
    display: none;
  }
  .center {
    text-align: center;
  }
  .bar-button-default {
    color: white;
    margin-right: 0px;
  }
  .toolbar-title {
    color: white;
    font-size: 1.3rem;
    padding-left: 0px;
    text-transform: capitalize;
  }
  .card {
    width: 100%;
    margin: 0px;
    margin-bottom: 5px;
  }
  .relative-col {
    position: relative;
  }
  span.progress-bar:before {
    background-color: #28d4f9;
  }
  span.progress-bar:after {
    background-color: #b3b6b7;
  }
  span.progress-bar {
    width: 100% !important;
    right: 9px;
    font-size: 11px;
    color: grey;
    bottom: calc(50% - 4px);
    height: 14px;
  }
  span.progress-bar:after,
  span.progress-bar:before {
    bottom: -8px;
  }
  .clock-icon-blue {
    content: '';
    display: inline-block;
    background-image: url(../assets/img/clock-icon-blue.png);
    width: 13px;
    height: 13px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 center;
  }
  .progress-text{
    position: relative;
    top: -2px;
    display: inline-block;
    margin-left: 5px;
  }
  .carpeta-icon {
    content: '';
    display: inline-block;
    background-image: url(../assets/img/carpeta-icon.png);
    width: 13px;
    background-size: contain;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 10px;
  }
  .audio-icon {
    content: '';
    display: inline-block;
    background-image: url(../assets/img/audio-icon.png);
    width: 13px;
    background-size: contain;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 11px;
  }
  .minivideo-icon {
    content: '';
    display: inline-block;
    background-image: url(../assets/img/minivideo-icon.png);
    width: 13px;
    background-size: contain;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 11px;
  }
  .text-pretit {
    color: #b1b1b1;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .level-pretit {
    color: #b1b1b1;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
  .level-tit {
    color: #333;
    font-weight: 600;
    margin: 2px 0;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 1.6rem;
    text-transform: capitalize;
  }
  .general-pretit {
    color: white;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .general-tit {
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  .stack-icon {
    content: '';
    display: inline-block;
    background-image: url(../assets/img/stack-icon.png);
    width: 17px;
    background-size: cover;
    height: 14px;
    margin-top: 2px;
  }
  .modules-head {
    color: white !important;
    margin-top: 3px;
    margin-bottom: 31px;
  }
  .activities.grammar {
    display: flex;

    span {
      font-size: 12px;
      margin-left: 5px;
      line-height: 1.5;
    }
  }
  .superlevel-description{
    color: #fff;
    font-size: 13px;
    font-weight: 200;
    margin-bottom: 20px;
  }
}
